<body>

  <img class="logo" src="../../../assets/logo.png">

  <div class="form">

    <form>
      <select class="campo-select">
        <option disabled selected >Entrar como*</option>
        <option>Coordenador</option>
        <option>Professor</option>
        <option>Aluno</option>
      </select><br>

      <input class="campo" type="number" placeholder="Insira seu R.A*"><br>
      <input class="campo" type="password" placeholder="Insira sua senha"><br>
    </form>

  </div>

  <div class="login">

    <button (click)="login()">Entrar</button>

  </div>

  <div class="link">

    <a>Esqueci minha senha</a>

  </div>

</body>


