<img src="../../../assets/logo.png" alt="Logo colégio ABC" class="logo">
<img class="icon" src="../../../assets/calendar.png">

<h1 class="titulo">AGENDAMENTO</h1>

<div class="form">
  <form>

    <input class="campo" type="text" placeholder="Insira a sala*"><br>
    <input class="campo" type="text" placeholder="Inisra uma descrição*"><br>
    <input class="campo" type="text" placeholder="Escolhar uma data*" onfocus="this.type='date'" ><br>
    <input class="campo-2" style="margin-right: 20px;" type="text" placeholder="Inicio*" onfocus="this.type='time'">
    <input class="campo-2" type="text" placeholder="Fim*" onfocus="this.type='time'">

  </form>

  </div>

  <div class="agendar">

    <button class="button">Confirmar</button>

  </div>


